<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SMARTQUEUE-AVSEC</title>

    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

<!-- ================= SIDEBAR ================= -->

<aside class="sidebar">

    <div class="logo">
        ✈ <b>SMARTQUEUE</b>
        <small>AVSEC • LOMÉ</small>
    </div>

    <div class="user">

        <div class="avatar">👤</div>

        <div>
            <b>Superviseur</b>
            <small>Responsable AVSEC</small>
            <em>● En ligne</em>
        </div>

    </div>

    <nav>

        <a class="active" data-page="dashboard">
            ▣ Tableau de bord
        </a>

        <a data-page="flux">
            📊 Flux passagers
        </a>

        <a data-page="files">
            ☷ Files d'attente
        </a>

        <a data-page="cameras">
            ▣ Caméras
        </a>

        <a data-page="previsions">
            ◷ Prévisions
        </a>

        <a data-page="alertes">
            ⚠ Alertes
            <b id="alertCount">3</b>
        </a>

        <a data-page="rapports">
            ▤ Rapports
        </a>

        <a data-page="parametres">
            ⚙ Paramètres
        </a>

    </nav>

</aside>


<!-- ================= CONTENU ================= -->

<main>

    <header>

        <div>
            <small>
                AÉROPORT INTERNATIONAL GNASSINGBÉ EYADÉMA
            </small>

            <h1 id="pageTitle">
                Tableau de bord - Supervision en temps réel
            </h1>
        </div>


        <div class="system-status">

            <div class="status-line">
                <span class="status-dot"></span>
                SYSTÈME OPÉRATIONNEL
            </div>

            <div class="datetime">

                <span id="dateText">
                    Lundi 17 août 2026
                </span>

                <strong id="time">
                    08:42:15
                </strong>

            </div>

        </div>

    </header>


    <div id="content"></div>


    <footer></footer>

</main>


<!-- ================= MODAL CHOIX CAMÉRA ================= -->

<div id="cameraModal" class="modal hidden">

    <div class="modal-box">

        <div class="modal-head">

            <h2>Choisir une caméra</h2>

            <button onclick="closeCamera()">✕</button>

        </div>

        <div id="cameraList" class="camera-list"></div>

    </div>

</div>


<!-- ================= MODAL CAMÉRA AGRANDIE ================= -->

<div id="videoModal" class="modal hidden">

    <div class="large-box">

        <div class="modal-head">

            <h2 id="largeTitle">Caméra</h2>

            <button onclick="closeVideo()">✕</button>

        </div>

        <div class="large-video">

            <img id="largeVideo"
                 class="large-video-img"
                 src=""
                 alt="Flux caméra">

        </div>

    </div>

</div>

<script src="static/js/camera.js"></script> <!-- librairie contenant la gestion des caméras (à charger avant script.js) -->
<script src="static/js/script.js"></script>    <!-- Script principal de l'application creant les pages -->


</body>
</html>